{% load static wagtailimages_tags wagtailcore_tags base_tags %}


<div class="container prod-cards">
    <div class="row">
        <h2>Продукция</h2>
        {% for product in product_card.products.all %}
            {% image product.product_image original as prodimage %}
            <div class="col-md-3 col-sm-6">
                <div class="prod-card"
                     style="background-image: url({{ prodimage.url }});
                             display: block;
                             background-repeat: no-repeat;
                             background-position: center top;
                             transition: all .3s;
                             box-sizing: border-box">
                    <a href="http://127.0.0.1:8000/products/{{ product.path_to_page }}" class="prod-link">
                        <span>{{ product.product_name }}</span>
                        {{ product.product_description|richtext }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
